<!DOCTYPE html>
<html>
  <head>
    <title>Linen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="board">
        <span></span>
        <span></span>
        <span></span>
        <%= link_to ' ', images_path%>
      </div>
      <h1><%= link_to 'Linen', root_path %></h1>
      <div class="plus">
        <%= link_to '+', new_image_path%>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
